In [16]:
### 小試身手
# 1.  試寫一程式 , 提示使用者輸入長&寬 ,   
#      計算此矩形的面積及周長
# length = float(input("請輸入長度:"))
# width  = float(input("請輸入寬度:"))

# print("Area :",length*width)
# print("Perimeter :",(length+width)*2)

print("-"*80)

# 2.  試寫一程式 ,  將此字串取代成不同的新字串 
#       1)  “this is a book.”  -->  “this is a lion.”
#       2)  “this is a book.”  -->  “**** !! a book.”
#       3)  “this is a book.”   -->  “this is an apple.”
# message = "this is a book."
# print(message.replace("book","lion"))
# print(message.replace("this","****").replace("is","!!"))
# print(message.replace("a","an").replace("book","apple"))
# # print(message.replace("book","apple").replace("a","an"))


print("-"*80)

# 3.  令 a=“Jeff” , b=“Leo” , c=“Jonny” , 並打印出
#       “Jeff is good , Leo is young , and Jonny is single…”
#       當 a 換成 “Steve” , c = “Dave” 時, 需打印出
#       “Steve is good , Leo is young , and Dave is single…”

# a = "Steve"
# b = "Leo"
# c = "Dave"
# print( "{} is good , {} is young , and {} is single…".format(a,b,c)  )
# print( "{name1} is good , {name2} is young , and {name3} is single…".format(name2=a , name3 = b , name1 = c)  )

print("-"*80)


# 4. 試寫一程式 , 請使用者輸入一數字 , 並按規則顯示下列訊息 :
#         0 <= n < 30  :  young
#        30<= n < 60  :  strong 
#        n >= 60      :  old
#        n < 0         :  ‘n’ must be larger than 0 


num = int(input("請輸入數字:"))


if num >=0 and num <30:
    print("young")
elif num>=30 and num <60:
    print("strong")
elif num>=60 :
    print("old")
else:
    print("n must be larger than 0")

--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
請輸入數字:51
strong

In [ ]:
# int / float / bool
# str & 常見用法
# print / type / input
# 運算子
# if-else 
# list [1,2,3,4,5]
# dict

In [18]:
### list
scores1 = [90,87,65,100,80]

scores1.append(45)

print("Sum :",sum(scores1))
print("Avg :",sum(scores1)/len(scores1))

Sum : 467
Avg : 77.83333333333333

In [36]:
### dict 
scores2 = {
    "Jeff"  : 90 ,
    "Leo"   : 87 , 
    "Keven" : 65 , 
    "Elle"  : 100 , 
    "Jenny" : 80 , 
}

# 修改
scores2["Jeff"] = 95

# 新增
scores2["Audrey"] = 75

print(scores2)
print(type(scores2))

# in 
print("Bob"  in scores2)
print("Jeff" in scores2)

# keys
print(scores2.keys())
print(type(scores2.keys()))
print(list(scores2.keys()))


# values
print(scores2.values())
print(list(scores2.values()))

score2_list = list(scores2.values())
print("Sum :",sum(score2_list))
print("Avg :",sum(score2_list)/len(score2_list))

print("Sum :", sum(scores2.values()))
print("Avg :", sum(scores2.values())/len(scores2))

{'Jeff': 95, 'Leo': 87, 'Keven': 65, 'Elle': 100, 'Jenny': 80, 'Audrey': 75}
<class 'dict'>
False
True
dict_keys(['Jeff', 'Leo', 'Keven', 'Elle', 'Jenny', 'Audrey'])
<class 'dict_keys'>
['Jeff', 'Leo', 'Keven', 'Elle', 'Jenny', 'Audrey']
dict_values([95, 87, 65, 100, 80, 75])
[95, 87, 65, 100, 80, 75]
Sum : 502
Avg : 83.66666666666667
Sum : 502
Avg : 83.66666666666667

In [47]:
### 關係運算子 in
data1 = [1,2,3,4,5,"a","b","c",["abc","name"],{"name":"Jeff","age":18}]
data2 = {
    "Jeff":90,
    "Leo":100,
    "Elle":88
}
data3 = "this is a book"

print("Data1:")
print("a" in data1)
print("p" in data1)
print( ["abc","name"] in data1)
print( ["abc","number"] in data1)

print("-"*80)

print("Data2:")
print("Jeff" in data2)
print("Leq" in data2)
print(90 in data2)
print(88 in data2)

print("-"*80)

print("Data3:")
print("this" in data3)
print("s a"  in data3)
print("bqqk" in data3)
print("b"    in data3)

Data1:
True
False
True
False
--------------------------------------------------------------------------------
Data2:
True
False
False
False
--------------------------------------------------------------------------------
Data3:
True
True
False
True

In [56]:
### dict in list 
scores3 = [
   {"name":"Jeff",  "no":1, "math":100, "eng":97}, 
   {"name":"Leo",   "no":2, "math":95,  "eng":65}, 
   {"name":"Keven", "no":3, "math":80,  "eng":42}, 
   {"name":"Elle",  "no":4, "math":70,  "eng":100}, 
   {"name":"Jenny", "no":5, "math":75,  "eng":88}, 
]

print("Name :" , scores3[0]["name"])
print("No :", scores3[0]["no"])
print("Math :" , scores3[0]["math"])
print("Eng :" , scores3[0]["eng"])

print("-"*80)

print("Name :" , scores3[1]["name"])
print("No :", scores3[1]["no"])
print("Math :" , scores3[1]["math"])
print("Eng :" , scores3[1]["eng"])

print("-"*80)

print("Name :" , scores3[2]["name"])
print("No :", scores3[2]["no"])
print("Math :" , scores3[2]["math"])
print("Eng :" , scores3[2]["eng"])

print("-"*80)

print("Name :" , scores3[3]["name"])
print("No :", scores3[3]["no"])
print("Math :" , scores3[3]["math"])
print("Eng :" , scores3[3]["eng"])

print("-"*80)

print("Name :" , scores3[4]["name"])
print("No :", scores3[4]["no"])
print("Math :" , scores3[4]["math"])
print("Eng :" , scores3[4]["eng"])

print("-"*80)

Name : Jeff
No : 1
Math : 100
Eng : 97
--------------------------------------------------------------------------------
Name : Leo
No : 2
Math : 95
Eng : 65
--------------------------------------------------------------------------------
Name : Keven
No : 3
Math : 80
Eng : 42
--------------------------------------------------------------------------------
Name : Elle
No : 4
Math : 70
Eng : 100
--------------------------------------------------------------------------------
Name : Jenny
No : 5
Math : 75
Eng : 88
--------------------------------------------------------------------------------

In [66]:
### for-loop

scores3 = [
   {"name":"Jeff",  "no":1, "math":100, "eng":97}, 
   {"name":"Leo",   "no":2, "math":95,  "eng":65}, 
   {"name":"Keven", "no":3, "math":80,  "eng":42}, 
   {"name":"Elle",  "no":4, "math":70,  "eng":100}, 
   {"name":"Jenny", "no":5, "math":75,  "eng":88}, 
   {"name":"Bob",   "no":6, "math":10,  "eng":5}, 
]


for ele in scores3:
    print("Name :" , ele["name"])
    print("No :"   , ele["no"])
    print("Math :" , ele["math"])
    print("Eng :"  , ele["eng"])
    
    print("-"*80)

Name : Jeff
No : 1
Math : 100
Eng : 97
--------------------------------------------------------------------------------
Name : Leo
No : 2
Math : 95
Eng : 65
--------------------------------------------------------------------------------
Name : Keven
No : 3
Math : 80
Eng : 42
--------------------------------------------------------------------------------
Name : Elle
No : 4
Math : 70
Eng : 100
--------------------------------------------------------------------------------
Name : Jenny
No : 5
Math : 75
Eng : 88
--------------------------------------------------------------------------------
Name : Bob
No : 6
Math : 10
Eng : 5
--------------------------------------------------------------------------------

In [134]:
### for-loop 補充
# list
# data1 = [1,2,3,4,5,6,7]

# for i in data1:
#     print(i)
#     a = i**2
#     print("Number : {}".format(a))
    

#####
# range 
# data2 = range(7)
# print(data2)
# print(type(data2))
# print(list(data2))
# for j in data2:
#     print(j)

# for i in range(3,20):
#     print(i)
    
# for j in range(0,-20,-3):
#     print(j)

#####
# dict
# data3 = {
#     "Jeff": 100,
#     "Leo": 97,
#     "Elle": 88,
#     "Audrey": 75,
#     "Bob": 86,
# }

# for key in data3:
#     print(key , data3[key])

#####
# str 
# data4 = "this is a book."
# data5 = "武漢肺炎好可怕,應該買一台Switch壓壓驚!!!"
# msg = ""

# for w in data5:
#     msg = msg + w
    
#     if len(msg) == 2 :
#         print(msg)
#         msg = ""
# print(msg)

#####
# set (集合)
data6 = {1,2,3,4,5}
data7 = [1,2,3,4,5]

# data6.add(6)
# data7.append(6)

# # data6.add(1)
# # data7.append(1)

# for i in range(10):
#     #     print(i)
#     data6.add(1)
#     data7.append(1)

# print(data6)
# print(data7)

# for i in data6:
#     print(i)

#####
# tuple
# data8 = ("a","b","c","d","e")

# data7[2] = "test"
# # data8[2] = "test"

# print(data8)
# print(data8[3])

# print(data7)
# print(data7[3])
# for i in data8:
#     print(i)

a
b
c
d
e

In [115]:
### dict 補充
data3 = {
    "Jeff"  : 100,
    "Leo"   : 97,
    "Elle"  : 88,
    "Audrey": 75,
    "Bob"   : 86,
}

print(data3)

for key in data3:
    print(key)
    print(data3[key])
    print(data3["Jeff"])
    print(data3["Leo"])
    #     print(data3[Jeff])
#     print(data3["Elle"])
#     print(data3["Bob"])
    print("-"*80)

{'Jeff': 100, 'Leo': 97, 'Elle': 88, 'Audrey': 75, 'Bob': 86}
Jeff
100
100
97
--------------------------------------------------------------------------------
Leo
97
100
97
--------------------------------------------------------------------------------
Elle
88
100
97
--------------------------------------------------------------------------------
Audrey
75
100
97
--------------------------------------------------------------------------------
Bob
86
100
97
--------------------------------------------------------------------------------

In [156]:
### 雙層迴圈
a = ["a","b","c"]
b = range(0,5)

for word in a:
    
    print("Start :" , word)
    
    for i in b:
        print(word , i )
        
    print("End ")
    print("-"*80)
    
    
    
    # print(word)

Start : a
a 0
a 1
a 2
a 3
a 4
End
--------------------------------------------------------------------------------
Start : b
b 0
b 1
b 2
b 3
b 4
End
--------------------------------------------------------------------------------
Start : c
c 0
c 1
c 2
c 3
c 4
End
--------------------------------------------------------------------------------

In [166]:
### while-loop

count = 1
total = 10

# while count <= total:
#     print("執行次數：",count)
#     count = count+1

    
while True:
    print("執行次數：",count)
    count = count+1
    count += 1
    
    
    if count>total:
        break
    
print("Done.")

執行次數： 1
執行次數： 2
執行次數： 3
執行次數： 4
執行次數： 5
執行次數： 6
執行次數： 7
執行次數： 8
執行次數： 9
執行次數： 10
Done.

In [174]:
### += / -= 疊加

a = 20
# a = a -10
# a -= 10
print(a)

b = "test"
# b = b + ",hello"
# b += ",hello"
print(b)

10
test,hello